body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #2e3033;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* for checking vertical rhythm */
/*body{     
    background-image: -webkit-linear-gradient(#f9f9f9 .05em, transparent .05em);
    background-image:    -moz-linear-gradient(#f9f9f9 1px, transparent 1px);
    background-image:     -ms-linear-gradient(#f9f9f9 1px, transparent 1px);
    background-image:      -o-linear-gradient(#f9f9f9 1px, transparent 1px);
    background-image:         linear-gradient(#f9f9f9 1px, transparent 1px);
    background-size: 100% 20px;
}*/


/* Basic graph styling */
svg {
  margin: 0;
  padding: 0;
}
svg .bars {
  shape-rendering: crispEdges;
  fill: #2E3033;
  
}

svg .axis path,
svg .axis line {
    fill: none;
    stroke: #737880;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


svg .axis .domain {
  display: none;
}
        
svg .axis text {
    font-size: 12px;
}

svg .brush .extent {
  fill: rgba(0,0,0, 0.08);
  stroke: none;
}

svg .brush .resize path {
  fill: #fff;
  stroke: #737880;
  stroke-width: 1;
}


/* Main content */
.main-content {
  background-color: #f1f1f1;
}


/* Sidebar */

.sidebar-section {
  border-bottom: 1px solid #e8f0f2;
  padding: 20px 10px 19px 10px;
}

.sidebar-section h3 {
  font-weight: normal;
  margin: 0;
}

.sidebar-section p {
  color: #737880;
}

table {
  border-collapse:collapse;
}
table,th, td, tr {
  margin: 0;
  padding: 0;
  vertical-align:bottom;
  border: none;
}

.nameTimeline { 
  -moz-transition:color 0.5s;
  -webkit-transition:color 0.5s;
  -o-transition:color 0.5s;
  transition:color 0.5s;
}
.nameTimeline svg .bars { 
  -moz-transition:fill 0.5s;
  -webkit-transition:fill 0.5s;
  -o-transition:fill 0.5s;
  transition:fill 0.5s;
}

.nameTimeline svg .axis line {
  stroke: #e5e5e5;
}

.nameTimeline label { 
  display: inline-block;
  margin: 0;
}
.nameTimeline label input { margin: 0 0.25em 0 0; }

.nameTimeline.disabled { color: #ccc; }
.nameTimeline.disabled svg .bars { fill: #ccc; }


/* Publication Lists */
.decadeYear {
  background: url(../images/decade_dot.gif) no-repeat left center;
  padding-left: 10px;
  color: #bbbfc6;
  font-weight: 700;
/*  line-height: 30px;  
*/}

.pub {
  overflow: hidden; /* clearfix */
  margin-left: 3px;
  padding: 1em;
  background-color: #fafafa;
  border-bottom: 1px solid #fff;
  border-left: 2px solid #c3c7ce;
 }
 
 .pub:nth-child(2) {
   border-top: 1px solid #f9f9f9;
 }

.pub .thumbnail {
  float: left;
  width:  40px;
  height: 60px;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 2px;
}

.pub .thumbnail img {
  display: block;
  width:  40px;
  height: 60px;
  border-radius: 2px;
}

.pub .citation {
  margin-left: 50px;
  padding-right: 10px;
}

.pub .title {
  font-weight: 700;
}

.pub .meta, .pub .tag {
  font-size: 12px;
}

.pub .meta,
.pub .meta span.j-sep{
  color: #737880;
}

.pub .meta span {
  color: #45494d;
}

.pub .journal {
  font-style: italic;
}

.pub .tag {
  display: inline-block;
  position: relative;
  background-color: #BBBFC6;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  margin-left: 8px;
  padding: 0 6px 0 7px;
  color: #fafafa;
  
  -moz-border-radius-bottomright:2px;
  -webkit-border-bottom-right-radius:42x;	
  border-bottom-right-radius:2px;
  -moz-border-radius-topright:2px;
  -webkit-border-top-right-radius:42x;	
  border-top-right-radius:2px;
  
}

.pub .tag:before {
  position: absolute;
  top: 0;
  left: -8px;
  height: 0;
  width: 0;
  text-indent: -9999em;
  content: "";
  border-color:transparent #BBBFC6 transparent transparent;
  border-style:solid;
  border-width:8px 8px 8px 0;
}

.pub .tag:after {
  content:"";
  position:absolute;
  top:6px;
  left:0;
  float:left;
  width:4px;
  height:4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:#FAFAFA;

}



